*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.result-container{
    margin: 5vh auto;
    width: 60%;
    height: auto;
    padding: 2rem;
    /* background-color: rgb(220, 227, 228); */
}
.result-container h1{
    text-align: center;
    color: red;
}
.product-card{
    display: flex;
    flex-direction: column;
    /* background-color: cornflowerblue; */
    margin: 1vh auto;
    padding: 10px;
}
.product-card h2{
    margin-bottom: .4rem;
    color: blue;
}
.product-card p{
    font-size: 1.1rem;
}